/* Set the body background */
body {
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #70c5ce url("flappybird.png") no-repeat center center;
    background-size: cover;
}

/* Center the game canvas inside the container */
.game-container { 

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Add a simple border and background color */
#game {
    border: 2px solid #db2a2a;
    background-color: #c992a1; 
}
.game-container h1 {
    position: absolute;
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 20px;
}
